{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>查看--中软高科-2015</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{#    <script type="text/javascript" src="../Js/jquery.sorted.js"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckeditor.js' %}"></script>


    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
{#    <script type="text/javascript">#}
{#    $(function () {       #}
{#		$('#backid').click(function(){#}
{#				window.location.href="{% url 'medicine_house' %}";#}
{#		 });#}
{#    });#}
{#    </script>#}
</head>
<body>
{#<form action="medicine_index.html" method="post" class="definewidth m20">#}
<form action="{% url 'new_medicine'  %}" method="post" class="definewidth m20" id="myform">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">编号</td>
        <td>  </td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">图片</td>
        <td><img src="1.png"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">进价</td>
        <td><input type="text" name="new_enter_medicine" required="required">元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">售价</td>
        <td><input type="text" name="new_outer_medicine" required="required">元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">药品名称</td>
        <td><input type="text" name="new_name_medicine" required="required"></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">药品类型</td>

    <td>

        <select name="new_department_medicine">
            {% for med in meds2 %}
            <option>{{ med }}</option>
              {% endfor %}
        </select>
{#        <td>‍‍<select id="pid" onchange="gradeChange()">#}

    </td>

{##}
{#            <a href="#"><option grade="1" value="a" >骨科</a>#}
{##}
{#            <a href="#"><option grade="2" value="b">心血管科</a>#}
{##}
{#        </select></td>#}
{##}
{#<script type="text/JavaScript">#}
{##}
{#       function gradeChange(){#}
{#        var objS = document.getElementById("pid");#}
{#        var grade = objS.options[objS.selectedIndex].grade;#}
{#        alert();#}
{#        alert("123");#}
{#       }#}
{#</script>#}
        {#        <td><input type="text" name="new_dpartment_medicine" required="required"></td>#}
{#        <td><input type="text" name="new_dpartment_medicine" required="required"></td>#}
    </tr>
    <tr>
        <td width="10%" class="tableleft">简单描述</td>
        <td><input type="text" name="new_message_medicine" required="required"></td>
    </tr>

    <tr>
        <td width="10%" class="tableleft">过期日期</td>
        <td>2020年12月24日</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">详细描述</td>
        <td>{{ med2.medicine_message }}</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">生产厂商</td>
        <td>哈药六厂生产</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">服用说明</td>
        <td>一次两粒一日三次</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">库存</td>
        <td><input type="text" name="new_number_medicine" required="required"></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">剩余量</td>
        <td>{{ med2.medicine_number }}</td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">备注</td>
        <td>暂无服用后不良记录</td>
	</tr>
    <tr>
        <td colspan="2">
			<center>
				<button type="submit" class="btn btn-success" name="backid" id="backid">确认增加</button>
                <a href="{% url 'medicine_house' %}" style="list-style: none;"><button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button></a>
			</center>
		</td>
    </tr>
</table>
</form>
</body>
</html>