{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>结算详细--中软高科-2015</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{#    <script type="text/javascript" src="../Js/jquery.sorted.js"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckeditor.js' %}"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
    <script type="text/javascript">
	 $(function () {
		$('#newNav').click(function(){
				window.location.href="add.html";
		 });
    });
	
    	function checkall(){
			var alls=document.getElementsByName("check");
			var ch=document.getElementById("checkall");
			if(ch.checked){
				for(var i=0;i<alls.length;i++){
					alls[i].checked=true;	
				}	
			}else{
				for(var i=0;i<alls.length;i++){
					alls[i].checked=false;	
				}	
			}
		}
		function delAll(){
			var alls=document.getElementsByName("check");
			var ids=new Array();
			for(var i=0;i<alls.length;i++){
				if(alls[i].checked){
					ids.push(alls[i].value);
				}		
			}
			if(ids.length>0){
				if(confirm("确认操作?")){
					alert("成功!");
				}
			}else{
				alert("请选中要操作的项");
			}
		}
    $(function () {       
		$('#backid').click(function(){
				window.location.href="{% url 'outer_index' %}";
		 });
    });
    </script>
</head>
<body>
   
<table class="table table-bordered table-hover definewidth m10" >
   <thead>
    <tr>
        <th>病历号</th>
        <th>姓名</th>
        <th>收费项目</th>
        <th>收费金额</th>
        <th>收费日期</th>
    </tr>
    </thead>

        <tr >
            <td style="vertical-align:middle;">{{ each_data.patient_card }}</td>
            <td style="vertical-align:middle;">{{ each_data.patient_name }}</td>
            <td style="vertical-align:middle;">{{ each_data.patient_medicine }}</td>
            <td style="vertical-align:middle;">20</td>
            <td style="vertical-align:middle;">{{ each_data.patient_one_enter_time|date:"Y-m-d H:i:s" }}</td>
        </tr>

  </table>
  
  <table class="table table-bordered table-hover definewidth m10" >
  <div style="text-align: center">
    <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
      <a href="{% url 'export_detail' each_data.id %}"><button type="button" class="btn btn-success" >导出excel</button>.</a>
  </div>
  </table>

<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">总花费：</td>
        <td>1850元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">押金：</td>
        <td>2000元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">余额：</td>
        <td>150元</td>
    </tr>
</table>
  
</body>
</html>
